/* .navbar-collapse{
  display: flex !important;
  flex-wrap: wrap !important;
  justify-content: flex-end !important;
  align-items: flex-end !important;
} */

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');


body {
  font-family: "Raleway", sans-serif !important;
}
.navbar{
    background-image: repeating-linear-gradient(233deg, hsla(64,83%,54%,0.05) 0px, hsla(64,83%,54%,0.05) 1px,transparent 1px, transparent 11px,hsla(64,83%,54%,0.05) 11px, hsla(64,83%,54%,0.05) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(278deg, hsla(64,83%,54%,0.05) 0px, hsla(64,83%,54%,0.05) 1px,transparent 1px, transparent 11px,hsla(64,83%,54%,0.05) 11px, hsla(64,83%,54%,0.05) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(188deg, hsla(64,83%,54%,0.05) 0px, hsla(64,83%,54%,0.05) 1px,transparent 1px, transparent 11px,hsla(64,83%,54%,0.05) 11px, hsla(64,83%,54%,0.05) 12px,transparent 12px, transparent 32px),repeating-linear-gradient(323deg, hsla(64,83%,54%,0.05) 0px, hsla(64,83%,54%,0.05) 1px,transparent 1px, transparent 11px,hsla(64,83%,54%,0.05) 11px, hsla(64,83%,54%,0.05) 12px,transparent 12px, transparent 32px),linear-gradient(278deg, rgb(41, 27, 158),rgb(249, 77, 212));
}
.nav-link{
    color:black!important;
    font-weight: bold !important;
    font-size: 1rem !important;
    border-radius:10px !important ;
}
.nav-link:hover{
    background-color: #F94DD4 !important;
    color:black !important;
    
}
.btn-primary:hover{
    background-color: #F94DD4 !important;
    border: none;
}
.navbar-toggler {
    background-color: #F94DD4 !important;
}
.butn{
    background-color: #F94DD4 !important;
    border: none;
    color: black;
    font-weight: bold !important;
}
.butn:hover{
    background-color: rgb(97, 28, 201) !important;
    border: none;
    color: black;
    font-weight: bold !important;
}
.tts{
    color:#F94DD4;
}
.ttc{
    color: rgb(97, 28, 201);
}
.card-title{
    color:#F94DD4 !important;
}
.card-text{
    color: rgb(97, 28, 201) !important;
}
.card-img-top{
    height: 400px;
    width: 400px;
}
